:root {
    --primary-color: #f2f2f2; /* Gris claro */
    --secondary-color: #333333; /* Gris oscuro */
    --navbar-color: #ffffff; /* Blanco */
    --accent-color: #007BFF; /* Azul */
    --hover-color: #0056b3; /* Azul más oscuro */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

#navbar {
    background-color: var(--navbar-color);
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    border-bottom: 3px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
}

#navbar a {
    color: var(--secondary-color);
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 1px solid var(--primary-color);
}

#navbar a:last-child {
    border-right: none;
}

#navbar a:hover {
    color: var(--primary-color);
    background-color: var(--hover-color);
}

.top {
    background-color: var(--primary-color);
    padding: 20px;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

#pp {
    height: 50vh;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
}

.txt {
    margin: 5% 0 auto;
}

h1 {
    font-size: 55px;
    font-family: "Comic Sans";
    margin-top: 20px;
}

h2 {
    font-size: 35px;
}

.stack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-bottom: 1px solid var(--secondary-color);
    padding: 20px;
}

.stack img {
    height: 8vh;
    margin: 0 10px;
}

.middle {
    padding: 20px;
    background-color: var(--primary-color);
    text-align: center;
}

.middle h2 {
    margin-bottom: 4%;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-tile {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.project-tile:hover {
    transform: scale(1.05);
    background-color: var(--hover-color);
}

.project-tile img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-tile p {
    margin-bottom: 10px;
}

.project-tile a {
    color: var(--primary-color);
    text-decoration: none;
}

.project-tile a:hover {
    text-decoration: underline;
}

.bottom {
    padding: 30px;
    text-align: center;
    background-color: var(--secondary-color);
    height: 160px;
    border-top: 2px solid var(--primary-color);
}

#contact_logo {
    height: 5vh;
    margin: 0 10px;
    align-items: center;
    justify-content: space-between;
}
#message{
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .txt {
        text-align: center;
        margin: 5% auto;
        padding: 0 20px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }
}
